.dockerignore
.git
.gitignore
.make
*.log
/*.md
dist
docker-compose*.yml
Dockerfile
docs
logs
Makefile
tmp
node_modules
.rubocop.yml
.travis.yml
.sass-cache
.idea/
DS_Store
coverage/
coverage_report/
.byebug_history
coverage_report/
test/reports/


