*.swp
.DS_Store
log/
tmp/*
tmp/**/*
todo
coverage*
public/warpables/*
public/warps/*
public/tms/*
public/api/0.6/*
db/schema.rb
config/database.yml
config/amazon_s3.yml
config/initializers/recaptcha.rb
config/config.yml
config/initializers/site_keys.rb

vendor/bundle
public/lib