<div class="form-group">
  <%= form_for([@map, Comment.new], remote:true) do |f| %>
    <%= f.label :body, "Leave a comment" %>
    <%= f.text_area :body, :class => "form-control" %>

    <button type="submit" class="btn btn-primary">Post comment</button>
  <% end %>
</div>
