<label for="tags">Tags</label>
<p><span id="tags">
	<% @map.tags.each do |tag| %>
		<a href="/tags/<%= tag.name %>">
			<span id="tag_<%= tag.id %>" class="label label-info">
				<%= tag.name %>
			</span>
		</a>
	<% end %>
</span></p>
<div class="input-group">
	<span class="input-group-addon">
		<span class="glyphicon glyphicon-tags"></span>
	</span>
	<input class="form-control" type="text" placeholder="Enter tags" name="tags"></input>
</div>