<label for="tags">Tags</label>
<p><span id="tags">
	<% @map.tags.each do |tag| %>
		<span id="tag_<%= tag.id %>" class="label label-info">
			<a href="/tag/<%= tag.name %>"><%= tag.name %></a>
			<% link_to([@map, tag], :method => "delete") do %>
				<span class="glyphicon glyphicon-remove"></span>
			<% end %>
		</span>
	<% end %>
</span></p>

<form name="tagcreate" id="tagcreate">
	<label for="tags" class="sr-only">Enter tags</label>
	<div class="input-group">
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-tags"></span>
		</span>
		<input class="form-control" type="text" placeholder="Enter tags" name="tags"></input>
	</div>
</form>

<%= javascript_include_tag 'tags' %>