<form action="/search" method='get' class="form-inline">
  <div class="form-group">
    <input placeholder="search maps" class='form-control' type='text' name='q' value='<%= params[:id] if params[:action] == "search" %>'/>
  </div>
  <button class="btn btn-default" type='submit'><i class="fa fa-search"></i></button>
</form>
