<div class="h4">Who can edit this map?</div>

<div class="form-group">
	<div class="radio">
		<label for="edit-permission-self">
			<input type="radio" name="edit-permissions"/>
			Just me
		</label>
	</div>

	<div class="radio">
		<label for="edit-permission-world">
			<input type="radio" name="edit-permissions"/>
			Everyone
		</label>
	</div>

	<div class="radio">
		<label for="edit-permission-whitelist">
			<input type="radio" name="edit-permissions"/>	
			These users:
		</label>
	</div>

	<div class="">
		<label class="sr-only" for="edit-permissions-whitelist">Users with Editing Privileges</label>
		<input class="form-control" type="text" name="edit-permissions-whitelist">
	</div>
</div>

<div class="h4">Edit History</div>

In progress.
