<p>
A new annotation system is under development; for now, <a href="/embed/<%= @map.slug %>?annotations=true">click here</a> to add annotations using the old system.
</p>

<p>To try the new annotations system, click here:</p>

<p><a type="button" class="btn btn-outline-info" href="/maps/<%= @map.slug %>/annotate">Beta annotation tool</a></p>

<p>To overlay a KML (temporarily only, for now!), click here:</p>

<p><button type="button" class="btn btn-outline-info" onClick="mapKnitter.addKml()">KML</button></p>