<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>Cartagen</title>
	<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<!--[if IE]><script type="text/javascript" src="cartagen/excanvas.js"></script><![endif]-->
	<script src="cartagen/lib/prototype.js" type="text/javascript" charset="utf-8"></script>
	<script src="cartagen/lib/geohash.js" type="text/javascript" charset="utf-8"></script>
	<script src="cartagen/cartagen.js" type="text/javascript" charset="utf-8"></script>
	<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<script type="text/javascript" charset="utf-8">
		Event.observe(window, 'load', function() {
			Cartagen.setup({
				stylesheet: "samples/rome/style.gss",
				static_map: true,
				static_map_layers: [
					"samples/rome/park.js",
					"samples/rome/rail.js",
					"samples/rome/waterway.js",
					"samples/rome/primary.js",
					"samples/rome/secondary.js",
					"samples/rome/building.js",
					"samples/rome/area.js"
				],
				lat1: 41.891,
				lat2: 41.9027,
				lng1: 12.4902,
				lng2: 12.5041,
			})
		})
	</script>
</head>
<body>

<div id="google" style="display:none;">Cartagen is a set of tools for mapping, enabling users to view and configure live streams of geographic data in a dynamic, personally relevant way. Today's mapping software is largely based on static data sets, and neither incorporates the time dimension in its display nor provides for real-time data streams. Cartagen helps users to analyze and view collected and shared geographic and temporal data from multiple sources.</div>

<div id="browsers" style="display:none;">
	<h3>WHOOPS</h3>
	<p>Cartagen is built on standards-compliant HTML 5 and Canvas, but is in beta stage right now. It works best in Firefox, but IE8, Chrome, Safari, Mobile Safari, and Android are coming ASAP!</p>
</div>

<canvas id="canvas"></canvas>

<div class="overlay" id="gss" style="display:none;">
	<h3>Import GSS:</h3>
	<form action="javascript:void(0);" method="get" accept-charset="utf-8" onSubmit="Style.load_styles($('import_gss').value)">
		<p>
			<input style="font-size:0.8em;" type="text" name="import_gss" value="http://" id="import_gss">
			<input type="submit" value="Apply">
		</p>
	</form>
	<h3>Edit GSS:</h3>
	<form action="javascript:void(0);" method="get" accept-charset="utf-8" onSubmit="Style.apply_gss($('gss_textarea').value)">
		<textarea tabindex="1" id="gss_textarea" rows="30" cols="40"></textarea>
		<p><input tabindex="2" type="submit" value="Apply style"> <a href="javascript:void(0);" onClick="$('gss').toggle();Cartagen.live_gss = false;">cancel</a> | <a href="http://wiki.cartagen.org/wiki/show/GssUsage">GSS Usage &raquo;</a></p>
	</form>	
</div>

<div id="brief">
	<script type="text/javascript" charset="utf-8">
		if (Prototype.Browser.MobileSafari) {$('brief').hide()}
	</script>
	<div class="column first" id="brief_first">
		<h2>Cartagen <br />
			<small>a framework for dynamic mapping<br />
			by <a href="http://unterbahn.com">Jeffrey Warren</a>
			<br />
			<a href="http://map.cartagen.org">Cartagen</a> | 
			<a href="http://wiki.cartagen.org">Docs</a> | 
			<a href="http://code.google.com/p/cartagen/">Source</a> | 
			<a href="http://groups.google.com/group/cartagen-dev">List</a> | 
			<a href="http://unterbahn.com">Blog</a>
			</small></h2>
		<p><form id="tag_search" action="javascript:void(0);" method="get" accept-charset="utf-8" onSubmit ="Cartagen.highlight($('highlight').value)">
			Search: <br />
			<input style="width:170px;" type="text" tabindex="5" id="highlight" value="">
			<input type="submit" name="some_name" value="Go" tabindex="6">
		</form></p>
		<p><a href="javascript:void(0);" onClick="Cartagen.show_gss_editor()">Edit GSS &raquo;</a><br />
		<a href="javascript:void(0);" onClick="Cartagen.redirect_to_image()">Download image &raquo;</a><br />
	</div>
	<div id="description">
		<div style="float:right;margin:5px;"><a href="javascript:void(0);" onClick="$('description').hide();$('brief').style.width = '28%';$('brief_first').style.width = '92%';">[hide]</a></div>
		<div class="column">
			<h3>SMS mapping and search</h3>
			<p>String-based geocoding (i.e. "map Bhagalpur, India") allows users to produce their own maps from in the field with only a basic cell phone. This widens participation to 4 billion cell phone users worldwide, as well as to rural regions outside the reach of the internet. Geographic mapping with text messages has applications in disaster response and health care.</p>
		</div>
		<div class="column">
			<h3>GSS: geo style sheets</h3>
			<p>Just like CSS for styling web pages, GSS is a specification for designing maps. Adapted for dynamic data sources, GSS can define changing geographic elements, display multiple datasets, and even respond to contextual tags like "condition:poor".</p>
		</div>
		<div class="column">
			<h3>Vector web mapping</h3>
			<p>Instead of sending pre-rendered tiles for every zoom level, Cartagen draws maps dynamically on the client side. This means maps can move, adapt, and redraw, and can include as many layers of data as needed. Vector mapping is done in native HTML 5, which runs on the iPhone and the Android platforms, and uses less bandwidth overall. Data displayed here is from <a href="http://openstreetmap.org">OpenStreetMap</a> (<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>)</p>
		</div>
	</div>
</div>
</body>
</html>
