require "recaptcha/rails"

class ActionView::Base 
  include Recaptcha::Adapters::ViewMethods
  include Recaptcha::Adapters::ControllerMethods
end 

Recaptcha.configure do |config|
  config.site_key = ENV.fetch("RECAPTCHA_SITE_KEY") { "xxxxxxxxxxxxxxxx" }
  config.secret_key = ENV.fetch("RECAPTCHA_KEY") { "xxxxxxxxxxxxxxxx" } 
end
