body {
	font-family:lucida grande, lucida sans console;
}
img {
	border:0;
}

#header a {
	color:#4C6ACB;
	font-weight:bold;
}
#header {
	-webkit-user-select:none;
	-moz-user-select:none;
	color:white;
	width:100%;
	background:#333;
	height:34px;
	padding:6px 8px;
}
#header span {
	padding:10px 8px;
	float:left;
}
#header span.right {
	float:right;
}
#header span.form {
	margin:0;
	padding:6px;
	padding-right:12px;
}
@-moz-document url-prefix() { span.form input { margin-top:0; padding-top:0;border:2px solid #555; } } 
.tooltip {
	position:absolute;
	top:40px;
	z-index:40;
	padding:3px;
	background:#ff8;
	display:inline;
}
.modal {
	position:absolute;
	z-index:8;
	top:20%;
	width:100%;
	text-align:center;
	color:white;
}
.modal h3 {
	border-bottom:2px solid white;
	margin:6px 0;
	padding:4px;
}
.modal .footer {
	border-top:2px solid white;
	padding:4px;
}
.modal a {
	color:white;
	font-weight:bold;
}
.modal div {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border:14px solid #444;
	background:#444;
	margin:0 auto;
	width:520px;
	height:60%;
}
.modal form {
	text-align:right;
}

#save_state {
	margin:3px 6px;
	padding:3px 7px;
	font-size:11px;
}
#save_state span {
	padding:3px 5px;
	font-family:lucida grande, lucida sans console, sans-serif;
	float:right;
}
#save_state #save_saved {
	border:1px solid #080;
	color: #040;
	background:#5a3;
}
#save_state #save_saving {
	border:1px solid #880;
	color: #330;
	background:#de0;
}
#save_state #save_failed {
	border:1px solid #300;
	color: #f22;
	background:#800;
}

.toolbar {
	float:left;
	margin-right:4px;
	margin-left:12px;
	padding-top:2px;
}
.toolbar a {
	display:block;
	float:left;
	padding:2px;
	height:24px;
	width:28px;
	text-align:center;
	border-top:1px solid #555;
	border-bottom:1px solid #555;
	border-right:1px solid #555;
	background:#444;
/*	http://www.westciv.com/tools/gradients/ */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222))
}
.toolbar a:hover {
	background:#555;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333))
}
.toolbar a:active {
	background:#888;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#555))
}
.toolbar a.first {
	border-left:1px solid #555;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
}
.toolbar a.last {
	border-right:1px solid #555;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
}
.toolbar a.silk img {
	padding-top:4px;
}
.toolbar a.down {
	background:#222;
}

