body {
	font-family:lucida grande, lucida sans console;
}
img {
	border:0;
}

#header a {
	color:#4C6ACB;
	font-weight:bold;
}
#header {
	-webkit-user-select:none;
	-moz-user-select:none;
	color:white;
	width:100%;
	background:#333;
	height:34px;
	padding:6px 8px;
}
#header span {
	padding:10px 8px;
	float:left;
}
#header span.right {
	float:right;
}
#header span.form {
	margin:0;
	padding:6px;
	padding-right:12px;
}
@-moz-document url-prefix() { span.form input { margin-top:0; padding-top:0;border:2px solid #555; } } 
.tooltip {
	position:absolute;
	top:40px;
	z-index:40;
	padding:3px;
	background:#ff8;
	display:inline;
}
#save_state {
	margin:3px 6px;
	padding:3px 7px;
	font-size:11px;
}
#save_state span {
	padding:3px 5px;
	font-family:lucida grande, lucida sans console, sans-serif;
	float:right;
}
#save_state #save_saved {
	border:1px solid #080;
	color: #040;
	background:#5a3;
}
#save_state #save_saving {
	border:1px solid #880;
	color: #330;
	background:#de0;
}
#save_state #save_failed {
	border:1px solid #300;
	color: #f22;
	background:#800;
}

#map.transparent {
	-moz-opacity: 0.5;
	opacity:.5;
	filter:alpha(opacity=50);
}

.toolbar {
	float:left;
	margin-right:4px;
	margin-left:12px;
	padding-top:2px;
}
.toolbar a {
	display:block;
	float:left;
	padding:2px;
	height:24px;
	width:28px;
	text-align:center;
	border-top:1px solid #555;
	border-bottom:1px solid #555;
	border-right:1px solid #555;
	background:#444;
/*	http://www.westciv.com/tools/gradients/ */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222))
}
.toolbar a:hover {
	background:#555;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333))
}
.toolbar a:active {
	background:#888;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#555))
}

.toolbar a.first {
	border-left:1px solid #555;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
}
.toolbar a.last {
	border-right:1px solid #555;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
}
.toolbar a.blue {
	width:auto;
	background:#469;
	border-color:#235;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#469), to(#358))
}
.toolbar a.green {
	width:auto;
	background:#294;
	border-color:#040;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#294), to(#183))
}
.toolbar a.blue, .toolbar a.green {
	padding-left:22px;
	padding-right:22px;
}
.toolbar a.blue:hover {
	background:#555;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#358), to(#247))
}
.toolbar a.blue:active {
	background:#888;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#247), to(#136))
}
.toolbar a.green:hover {
	background:#555;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#183), to(#072))
}
.toolbar a.green:active {
	background:#888;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#072), to(#061))
}

.toolbar a.silk img {
	padding-top:4px;
}
.toolbar a.down {
	background:#222;
}

