html { background: #fff; }
body {
	margin: 0 auto;
	padding:0 30px 30px 30px;
	width: 920px; 
	background: white; 
	font-family: georgia, times, serif;
	box-shadow: 0 10px 15px #000;
	-webkit-box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

img { border:0; }
a { color:#30f; }
a:hover { color:#a00; }
h1, h2, h3 { font-weight:normal; }
h1 { font-size:2em; }
h1 { border-bottom:1px solid #bbb;padding-bottom:6px }
h2 { border-bottom:1px solid #bbb;padding-bottom:6px }
h3 a { text-decoration:none; }
h3 small { font-size:14px; }

#header {
	width:900px;
	display:block;
	background:#202020;
	padding:30px 10px 5px;
	margin-bottom:20px;
	color:white;
}
#header a {
	color:white;
}
#header a:hover {
	color:#30f;
}
#header h2 {
	margin-top:0;
	padding-top:22px;
	margin-bottom:8px;
}
#header h2 a {
	text-decoration:none;
	color:black;
}
#header h2 a:hover {
	color:#30f;
}
#header img {
	float:left;
}
#header .right {
	float:right;
	margin-top:46px;
}

#main {
	float:left;
}

.button {
	font-size:18px;
	text-decoration:none;
	color:white;
	padding:12px;
        background:#4C6ACB;
        -moz-border-radius-topleft:5px;
        -webkit-border-top-left-radius:5px;
        -moz-border-radius-bottomleft:5px;
        -webkit-border-bottom-left-radius:5px;
        -moz-border-radius-topright:5px;
        -webkit-border-top-right-radius:5px;
        -moz-border-radius-bottomright:5px;
        -webkit-border-bottom-right-radius:5px;
}
a:hover.button {
	background:#35b;
	color:#ccc;
}

#list {
	width: 500px;
}
#list h3 {
	font-weight:normal;
	margin-bottom:3px;
}
#list h3 small {
	font-size: 0.6em;
}
#list p {
	margin-top:6px;
	margin-bottom:6px;
}
#list .meta {
	font-size:12px;
	font-family: lucida grande, lucida sans console, helvetica, arial, sans-serif;
}

#list .map {
	border-bottom:1px dotted #aaa;
	width:230px;
	float:left;
	margin-bottom:20px;
	margin-right:0;
}
#list .map.odd {
	clear:left;
	margin-right:30px;
}
#list .map .description {
	font-size:0.9em;
	font-family: lucida grande, lucida sans console, helvetica, arial, sans-serif;
}

#sidebar {
	width:360px;
	margin-left:10px;
	float:right;
}
#sidebar h3 {
	margin-top:5px;
	margin-bottom:12px;
	font-style:italic;
	font-size:1.7em;
}

div.notice {
	padding-top:0;
	margin-top:16px;
	border:none;
	border-top:8px solid #fd6;
	background:#ffa;
}
div.notice p {
	padding-bottom:8px;
}

#license .badge {
	padding-right:4px;
	padding-bottom:20px;
	float:left;
	margin-right:6px;
	display:block;
}

#authors ul {
	font-size:0.9em;
}
#new_maps ul {
	font-size:0.9em;
}

.box h2 {
	padding:10px;
}
.box {
	border:8px solid #ddd;
	padding:14px;
	margin-bottom:12px;
}

.box.form {
	border:0;
	border-top:8px solid #aaa;
	background:#ddd;
	padding:6px 14px;
}
.box.form small {
	font-style:normal;
}
#sidebar .box.form h3 {
	font-size:20px;
	margin-bottom:6px;
}

#preview {
	border:0;
	width:920px;
	height:375px;
}

#images .image {
	float:left;
	width:100px;
	height:150px;
	font-size:12px;
}

.formats {
	padding-top:6px;
	font-family: lucida grande, lucida sans console, helvetica, arial, sans-serif;
	font-size:10px;
	font-weight:bold;
	line-height:24px;
}
.formats .geotiff_stats {
	font-weight:normal;
	font-style:italic;
}
.formats a {
	color:#222;
	padding:4px;
}
.formats .geotiff {
	border:2px solid #06B2C0;
}
.formats .geotiff:hover {
	background:#06A2C0;
}
.formats .jpg {
	border:2px solid #A1C53F;
}
.formats .jpg:hover {
	background:#91C03F;
}
.formats .tms-alt {
	color:#222;
	border:2px solid #FFAA33;
}
.formats .tms-alt:hover {
	background:#FF8833;
}
.formats .tms {
	color:#222;
	border:2px solid #FFC833;
}
.formats .tms:hover {
	background:#FFB833;
}
.formats .openlayers, .formats .leaflet {
	border:2px solid #F67821;
}
.formats .openlayers:hover, .formats .leaflet:hover {
	background:#EA6821;
}

form.map {
}
form.map input.text {
	font-size:1em;
	width:210px;
}
form.map label {
	font-family: lucida grande, lucida sans console, helvetica, arial, sans-serif;
	font-size:11px;
}
form.map input.loading {
	background:'/images/spinner-small.gif';right:2px;
}
#main .left {
	width:400px;
	font-size:13px;
	font-style:italic;	
}

#images {
	width:500px;
}

div.flash {
	padding:5px;
	color:#090;
	background:#9f9;
	margin-bottom:8px;
}
div.flash.error {
	color:#900;
	background:#f99;
}
#search {
	border:8px solid #ddd;
	padding:14px;
}
#search h3 {
	margin-bottom:4px;
}
#search input.text {
	font-size:1em;
}
.ac_results {
	padding: 3px;
	border: none;
	background-color: #ffa;
}
.ac_results ul {
}
.ac_results li {
	color:#444;
}
.ac_odd {
	background-color:#dd8;
}
.ac_over {
	background-color:#cb6;
}	
.errorExplanation {
	background:#FCFFB3;
	font-size:0.7em;
	padding:2px 10px;
	font-family:lucida grande, lucida sans console, tahoma, verdana, sans-serif;
	margin-bottom:8px;
}
.errorExplanation ul {
	padding-left:21px;
}

#footer {
	clear:both;
	border-top:8px solid #ccc;
	margin-top:8px;
	font-size:0.9em;
	font-style:italic;
}
