<div id="main" class="span12">
  <h2>Authors</h2>

  <table class="table">
    <% @authors.each do |author| %>
      <tr><td><a href="/author/<%= author %>"><%= truncate(author,30) %></a></td></tr>
    <% end %>
  </table>

</div>
