
<div class="body-wrap">
    <div class="top-tools">
        <a class="inner-link" href="#{[values.get("alias")]}-props"><img src="resources/s.gif" class="item-icon icon-prop">Properties</a>
        <a class="inner-link" href="#{[values.get("alias")]}-methods"><img src="resources/s.gif" class="item-icon icon-method">Methods</a>
        <a class="inner-link" href="#{[values.get("alias")]}-events"><img src="resources/s.gif" class="item-icon icon-event">Events</a>
        <a class="bookmark" href="./index.html?class={[values.get("alias")]}"><img src="resources/s.gif" class="item-icon icon-fav">Direct Link</a>
    </div>
    
<div class="inheritance res-block">
<pre class="res-block-inner"><tpl for="getAugments()"><tpl if="xindex &gt; 1"><img src="resources/elbow-end.gif"/></tpl><a ext:cls="{name}" ext:member="" href="{[this.linker.toSymbol(values.name).toString(false)]}">{[this.getClassName(String(values.name))]}</a>
{[this.insertSpace(xindex*2)]}</tpl><img src="resources/elbow-end.gif"/>{[this.getClassName(values.get("alias"))]}</pre>
</div>
    
	<tpl if="values.get('donate')">
	    <div class="inheritance res-block" style="text-align:center; margin-right:20px">
	    	<div class="res-block-inner">
	    		<p>Support this ux</p>
	    	
	    		{[ values.get("donate") ]}
	    	</div>
	    </div>
    </tpl>

    <h1>Class {[values.get("alias")]} (<a href="http://wiki.cartagen.org/wiki/show/ApiClass{[encodeURIComponent(values.get("alias").camelize())]}">Wiki Page</a>)</h1>     
    <table cellspacing="0">
        <tr><td class="label">Defined In:</td><td class="hd-info"><a href="{[this.linker.toParsedFileInRepo(values.get("srcFile")).toString(false,true)]}">{[JSDOC.Util.fileName(values.get("srcFile"))]}</a></td></tr>
        <tr><td class="label">Class:</td><td class="hd-info">{[this.getClassName(values.get("alias"))]}</td></tr>
        <!-- tr><td class="label">Subclasses:</td><td class="hd-info">this could be figured out</td></tr -->
        <tr><td class="label">Extends:</td><td class="hd-info"><tpl for="getAugments()"><a ext:cls="{name}" ext:member="" href="{[this.linker.toSymbol(values.name).toString(false)]}">{name}</a>&nbsp;</tpl></td></tr>        
    </table>
    
    <div class="description">
        {[ this.resolveLinks(values.get("desc")) ]} 
    </div>
     <tpl if="get('example').length">
      <div >
	<strong>Examples:</strong>
	<ul>
	  <tpl for="get('example')">
	    <pre><code>{[values.example]}</code></pre>
	  </tpl>
	</ul>
      </div>
    </tpl>
    <div class="hr"></div>
    <a id="{[values.get("alias")]}-configs"></a>
    <tpl if="hasCfg()">
    <h2>Config Options</h2>
    <table cellspacing="0" class="{[(values.hasCfg()) ? "member-table" : "x-hidden"]}">
        <tr>
            <th class="sig-header" colspan="2">Config Options</th>
            <th class="msource-header">Defined By</th>
        </tr>
        
        <div style="display:none">
        	{[ className = values.get("alias") ]}
        </div>

        <tpl for="getCfg()">     
        <tr class="config-row expandable{[this.isInherited(values, parent) ? " inherited" : ""]}">
            <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
            <td class="sig">
                <a id="{[ this.getClassName(values.get("memberof")) ]}-cfg-{[values.get("name")]}"></a>
                <b>{[values.get("name")]}</b> : {[values.get("type")]} (<a href="http://wiki.cartagen.org/wiki/show/ApiClass{[ encodeURIComponent(this.getClassName(values.get("memberof"))) ]}Config{[encodeURIComponent(values.get("name").camelize())]}">Wiki Page</a>)
                <div class="mdesc">
                    <div class="short">{[ this.truncate(this.resolveLinks(values.get("desc"))) ]}</div>
                    <div class="long">
                    <tpl if="values.get('defaultValue')">
		         <div class="sub-desc">(default) &nbsp; {[values.get("defaultValue")]}</div>
                    </tpl>
                        {[ this.resolveLinks(values.get("desc")) ]}
                         <tpl if="get('example').length">
			  <div>
			    <strong>Examples:</strong>
			    <ul>
			      <tpl for="get('example')">
				<pre><code>{[values.example]}</code></pre>
			      </tpl>
			    </ul>
			  </div>
                        </tpl>
                    </div>
                </div>
            </td>
            <td class="msource">
                <tpl if="!this.isInherited(values, parent)">{[this.getClassName(values.get("memberof"))]}</tpl>
                <a class="{[!this.isInherited(values, parent) ? "x-hidden" : ""]}" ext:cls="{[values.get("memberof")]}" ext:member="{[values.get("alias")]}" href="{[this.linker.toSymbol(values.get("memberof")).toString(false)]}">{[this.getClassName(values.get("memberof"))]}</a>
            </td>
        </tr>
        </tpl>
        
    </table>
    </tpl>
    <a id="{[values.get("alias")]}-props"></a>      
    
    <h2>Public Properties</h2> 
    <tpl if="!hasProperties()"><p>This class has no public properties.</p></tpl>        
    <table cellspacing="0" class="{[(values.hasProperties()) ? "member-table" : "x-hidden"]}">            
        <tr>
            <th class="sig-header" colspan="2">Property</th>
            <th class="msource-header">Defined By</th>
        </tr>
        
        <tpl for="getProperties()">
                    
        <tr class="property-row expandable{[this.isInherited(values, parent) ? " inherited" : ""]}">
            <td class="micon">
                <a class="exi" href="#expand">&nbsp;</a>
            </td>
            <td class="sig">
                <a id="{[ this.getClassName(values.get("memberof")) ]}-props-{[values.get("name")]}"></a>
                <b>{[values.get("name")]}</b> : {[values.get("type")]} (<a href="http://wiki.cartagen.org/wiki/show/ApiClass{[ encodeURIComponent(this.getClassName(values.get("memberof"))) ]}Prop{[encodeURIComponent(values.get("name").camelize())]}">Wiki Page</a>)            
                <div class="mdesc">   
                    <div class="short">{[ this.truncate(this.resolveLinks(values.get("desc"))) ]}</div>
                    <div class="long">
                        {[ this.resolveLinks(values.get("desc")) ]}
                        
                         <tpl if="get('example').length">
			  <div>
			    <strong>Examples:</strong>
			    <ul>
			      <tpl for="get('example')">
				<pre><code>{[values.example]}</code></pre>
			      </tpl>
			    </ul>
			  </div>
                        </tpl>
                    </div>
                </div>
            </td>
            <td class="msource">                
                <tpl if="!this.isInherited(values, parent)">{[this.getClassName(values.get("memberof"))]}</tpl>
                <a class="{[!this.isInherited(values, parent) ? "x-hidden" : ""]}" ext:cls="{[values.get("memberof")]}" ext:member="{[values.get("alias")]}" href="{[this.linker.toSymbol(values.get("memberof")).toString(false)]}">{[this.getClassName(values.get("memberof"))]}</a>
            </td>
        </tr>
        
        </tpl>
        
        <!-- TODO: implement this alt row.  also notice non-linked "Defined by" when property is a part of this class.     
        <tr class="property-row alt">
            <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
            <td class="sig">
                <a id="Ext.Component-hidden"></a>
                <b>hidden</b> : Boolean            
                <div class="mdesc">                            
                    True if this component is hidden. Read-only.                       
                </div>
            </td>
            <td class="msource">Component</td>
        </tr>
        -->
    </table>
                   
    <a id="{[values.get("alias")]}-methods"></a>
    <h2>Public Methods</h2>    
    <tpl if="!hasMethods()"><p>This class has no public methods</p></tpl>
    <table cellspacing="0" class="{[values.hasMethods() ? "member-table" : "x-hidden"]}">
        <tr>
            <th class="sig-header" colspan="2">Method</th>            
            <th class="msource-header">Defined By</th>
        </tr>
        
        <tpl for="getMethods()">        
        <tr class="method-row expandable{[this.isInherited(values, parent) ? " inherited" : ""]}">
            <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
            <td class="sig">
                <a id="{[ this.getClassName(values.get("memberof")) ]}-methods-{[values.get("name")]}"></a>                
                <b>{[values.get("name")]}</b>(&nbsp;<code><tpl for="get('params')">{[(!values.isOptional) ? values.type.replace(/, /g, "|") + " " + values.name : "[" + values.type.replace(/, /g, "|") + " " + values.name + "]"]}<tpl if="xindex < xcount">, </tpl></tpl></code>&nbsp;) : {[(values.get("type") ? values.get("type") : "void")]} (<a href="http://wiki.cartagen.org/wiki/show/ApiClass{[ encodeURIComponent(this.getClassName(values.get("memberof"))) ]}Method{[encodeURIComponent(values.get("name").camelize())]}">Wiki Page</a>)
                <div class="mdesc">
                    <div class="short">{[ this.truncate(this.resolveLinks(values.get("desc"))) ]}</div>
                    <div class="long">
                        {[ this.resolveLinks(values.get("desc")) ]}

                        <tpl if="get('example').length">
                          <div class="mdetail-params">
                            <strong>Examples:</strong>
                            <ul>
                              <tpl for="get('example')">
                                <pre><code>{[values.example]}</code></pre>
                              </tpl>
                            </ul>
                          </div>
                        </tpl>

                        <div class="mdetail-params">                            
                            <strong>Parameters:</strong>                            
                            <ul>
                            <tpl for="get('params')">
                                <li>
                                    <code>{name}</code> : {[values.type.replace(/, /g, "|")]}
                                    <div class="sub-desc">{[(values.isOptional==true) ? "(optional)" : ""]}&nbsp;{desc}</div>                                   
                                    <tpl if="values.defaultValue">
                                      <div class="sub-desc">(default) &nbsp; {values.defaultValue}</div>
                                    </tpl>
                                </li>
                            </tpl>
                            </ul>
                                                        
                            <strong>Returns:</strong>
                            <ul>
                                <li>{[(values.get("type")) ? values.get("type") : "void"]}<div class="sub-desc">{[values.get("returns")]}</div></li>
                            </ul>                    
                        </div>
                    </div>                    
                </div>
            </td>
            <td class="msource">
                <tpl if="!this.isInherited(values, parent)">{[this.getClassName(values.get("memberof"))]}</tpl>
                <a class="{[!this.isInherited(values, parent) ? "x-hidden" : ""]}" ext:cls="{[values.get("memberof")]}" ext:member="{[values.get("alias")]}" href="{[this.linker.toSymbol(values.get("memberof")).toString(false)]}">{[this.getClassName(values.get("memberof"))]}</a>
            </td>
        </tr>
        </tpl>                                                  
    </table>
    
    <a id="{[values.get("alias")]}-events"></a>
    <h2>Public Events</h2>
    <tpl if="!hasEvents()"><p>This class has no events</p></tpl>
    <table cellspacing="0" class="{[(values.hasEvents()) ? "member-table" : "x-hidden"]}">        
        <tr>
            <th class="sig-header" colspan="2">Event</th>   
            <th class="msource-header">Defined By</th>
        </tr>
        <tpl for="getEvents()">
        <tr class="event-row expandable{[this.isInherited(values, parent) ? " inherited" : ""]}">
            <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
            <td class="sig">
                <a id="{[ this.getClassName(values.get("memberof")) ]}-events-{[values.get("name")]}"></a>
                <b>{[values.get("name")]}</b> : (&nbsp;<code><tpl for="get('params')">{[(!values.isOptional) ? values.type + " " + values.name : "[" + values.type + " " + values.name + "]"]}<tpl if="xindex < xcount">, </tpl></tpl></code>&nbsp;) (<a href="http://wiki.cartagen.org/wiki/show/ApiClass{[ encodeURIComponent(this.getClassName(values.get("memberof"))) ]}Event{[encodeURIComponent(values.get("name").camelize())]}">Wiki Page</a>)
            
                <div class="mdesc">   
                    <div class="short">{[ this.truncate(this.resolveLinks(values.get("desc"))) ]}</div>
                    <div class="long">
                        {[ this.resolveLinks(values.get("desc")) ]}  
                        <div class="mdetail-params">
                            <strong style="font-weight:normal;">Listeners will be called with the following arguments:</strong>
                            <ul>
                            <tpl for="get('params')">
                                <li>
                                    <code>{name}</code> : {type}
                                    <div class="sub-desc">{desc}</div>                                   
                                </li>
                            </tpl>                                                            
                            </ul>   
                        </div>
                    </div>
                </div>
            </td>   
            <td class="msource">
                <tpl if="!this.isInherited(values, parent)">{[this.getClassName(values.get("memberof"))]}</tpl>
                <a class="{[!this.isInherited(values, parent) ? "x-hidden" : ""]}" ext:cls="{[values.get("memberof")]}" ext:member="{[values.get("alias")]}" href="{[this.linker.toSymbol(values.get("memberof")).toString(false)]}">{[this.getClassName(values.get("memberof"))]}</a>
            </td>                                 
        </tr>
        </tpl>            
    </table>            
</div>
