<div class="well">

<p>The TMS (Tiled Map Service) URL forms the basis of a longer TMS-style URL, which is mainly useful in plugging your map into other services. To access a specific tile, you can use a URL with the format:</p> 

<pre>https://mapknitter.org/tms/<%= params[:id] %>/:z/:x/:y.png</pre>

<p>Read more: <a href="https://en.wikipedia.org/wiki/Tile_Map_Service">https://en.wikipedia.org/wiki/Tile_Map_Service</a></p>

</div>
