# `local: true` makes a local login path in DEVELOPMENT mode only. 
# Do not use this configuration in production as it is a security risk.

development:
  google_maps_api_key: "ABQIAAAANO6Yx8ihhesSqnPHx9a3RxTJQa0g3IQ9GZqIMmInSLzwtGDKaBQ91cMdUJWDReC9dY9YGCKrEorVnA"
  local: true

test:
  google_maps_api_key: "ABQIAAAANO6Yx8ihhesSqnPHx9a3RxTJQa0g3IQ9GZqIMmInSLzwtGDKaBQ91cMdUJWDReC9dY9YGCKrEorVnA"

production:
  google_maps_api_key: "ABQIAAAANO6Yx8ihhesSqnPHx9a3RxTJQa0g3IQ9GZqIMmInSLzwtGDKaBQ91cMdUJWDReC9dY9YGCKrEorVnA"
