default: &default
  encoding: utf8
  adapter: mysql2
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  username: 
  password: 
  database: mapknitter_dev

production:
  <<: *default
  username: root
  password: 
  database: mapknitter

test:
  <<: *default
  username:
  password:
  database: mapknitter_test