default: &default
  encoding: utf8
  adapter: mysql2
  host: 127.0.0.1
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  username: 
  password: 
  database: mapknitter_dev

production:
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV.fetch("MYSQL_HOST") { '127.0.0.1' } %>
  username: <%= ENV.fetch("MYSQL_USER") { "mapknitter" } %>
  password: <%= ENV.fetch("MYSQL_PASSWORD") { "mapknitter" } %>
  database: <%= ENV.fetch("MYSQL_DATABASE") { "mapknitter" } %>
  socket: <%= ENV.fetch("MYSQL_SOCKET") %>

test:
  <<: *default
  username:
  password:
  database: mapknitter_test
