development:
  adapter: mysql2
  username: 
  password: 
  database: mapknitter_development

production:
  adapter: mysql2
  username: 
  password: 
  database: mapknitter_production

test:
  adapter: mysql2
  username: 
  password: 
  database: mapknitter_test
