default: &default
  encoding: utf8
  adapter: mysql2

development:
  <<: *default
  username: root
  password: 
  database: mapknitter

production:
  <<: *default
  host: db
  username: mapknitter
  password: mapknitter
  database: mapknitter

test:
  <<: *default
  username: root
  password: 
  database: mapknittertest
