/* Correct the background position when the textbox handler is not used with the */
/* .leaflet-illustrate-create-textbox class. */
.leaflet-draw-toolbar .leaflet-draw-draw-textbox {
  background-position: -272px -2px;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-textbox {
  background-position: -270px -1px;
}

.leaflet-illustrate-textbox {
  font-family: Junction Light;
  color: white;
  font-size: 24px;
  padding: 5px;
  text-shadow: 0 0 10px rgba(0,0,0,1),0 0 10px rgba(0,0,1,1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.leaflet-draw-toolbar a {
  background-image: url('/assets/leaflet-illustrate/dist/images/spritesheet.png') !important;
}
.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url('/assets/leaflet-draw/dist/images/spritesheet-2x.png') !important;
}
