<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Cartagen: Maps</title>
		<link rel="stylesheet" href="/cartagen/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/knitter.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>
	<body>
		<%= error_messages_for :warpable %>

		<% form_for(:warpable, :url => {:action => 'create'}, :html => { :multipart => true,:id => "warpable_upload_form" }) do |f| -%>
		  <p>
		    <label for="warpable">Choose a file from your computer (10mb max):</label>
		    <input id="warpable_uploaded_data" name="warpable[uploaded_data]" size="30" type="file" />
		    <input id="warpable_map_id" name="map_id" type="hidden" value="<%= @map_id %>" />
		  </p>
		  <p>
			  <%= submit_tag 'Upload' %>
		  </p>
		<% end -%>

		<p>
			Where can you get images to upload?<br />Read about <a href="http://wiki.grassrootsmapping.org">Grassroots Mapping with Balloons and Kites</a>.
		</p>
	</body>
</html>
