<%= error_messages_for :warpable %>

<% form_remote_for(:warpable, :url => {:action => 'create_asynchronous'}, :html => { :multipart => true }) do |f| -%>
  <p>
    <label for="warpable">Upload An Image:</label>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
	<input name="update_btn" onclick="new Ajax.Request('/warper/create_asynchronous', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this.form),onSuccess:function(response){ Warper.new_image(response.responseText);console.log(response.responseText);Modalbox.hide();return false; }});" value="Update" type="button">
  </p>
<% end -%>

<a href="javascript:void(0);" onClick="Warper.new_image('/warper/campus.jpg');Modalbox.hide();return false;">Fake upload</a>