<%= error_messages_for :warpable %>

<% form_for(:warpable, :url => {:action => 'create'}, :html => { :multipart => true }) do |f| -%>
  <p>
    <label for="warpable">Upload An Image:</label>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= submit_tag 'Upload' %>
  </p>
<% end -%>

<script type="text/javascript" charset="utf-8">
	function fake_upload() {
		
		Warper.new_image()
		
	}
</script>

<a href="javascript:void(0);" onClick="fake_upload()">Fake upload</a>