<html>
<script src="/javascripts/jquery.min.js?0.8113812819924282" type="text/javascript"></script> 
<script src="/javascripts/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script> 
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<body>

<div style="margin:10px;">
  <%=raw errors_for @warpable %>

  <%= form_for(:warpable, :url => {:action => 'create'}, :html => { :multipart => true,:id => "warpable_upload_form" }) do |f| -%>
    <p>
      <label for="warpable">Choose a file from your computer (10mb max):</label>
      <%= f.file_field :image %>
      <input id="warpable_map_id" name="map_id" type="hidden" value="<%= @map_id %>" />
    </p>
    <button tabindex="2" class="btn btn-large btn-primary" type="submit">Upload</button>
  <% end -%>

  <p>Where can you get images to upload?<br />Read about <a href="http://wiki.grassrootsmapping.org">Grassroots Mapping with Balloons and Kites</a>.</p>
</div>

</body>
</html>
