<a href="/warper/list">List</a><br />

Filename: <%= @image.filename %><br />
Size: <%= @image.size %><br />

<a href="<%= @image.image.url %>"><img src="<%= @image.image.url(:medium) %>" /></a><br />
