<div id="knitter-side-pane">
	<form>
		<input type="text" name="map-title" value="<%= @map.name %>"/>

		<label for="map-lat">Lat</label>
		<input type="text" name="map-lat" value="<%= @map.lat %>"/>

		<label for="map-lng">Lng</label>
		<input type="text" name="map-lng" value="<%= @map.lon %>"/>
	</form>
</div>