<div id="knitter-map-pane"></div>
<%= render :partial => "sidebar" %>
<style>
	html, body {
		width: 100%;
		height: 100%;
	}
	#knitter-map-pane {
		width: 75%;
		height: 100%;
		float: left;
	}
	#knitter-side-pane {
		width: 25%;
		height: 100%;
		float: left;
	}
	#knitter-side-pane h3 {
		margin: 15px 15px;
	}

</style>
<script type="text/javascript" charset="utf-8">
	var center = L.latLng(<%= @map.lat %>, <%= @map.lon %>),
		zoom = <%= @map.zoom %>,
		map = L.map('knitter-map-pane', { zoomControl: false })
			.setView(center, zoom),
		drawnItems = new L.FeatureGroup().addTo(map),
		zoomControl = L.control.zoom({ position: 'topright' }).addTo(map),
		illustrateControl = new L.Illustrate.Control({
			position: 'topright',
			edit: { featureGroup: drawnItems }
		}).addTo(map),
		drawControl = new L.Control.Draw({
			position: 'topright',
			edit: { featureGroup: drawnItems }
		}).addTo(map);

	L.tileLayer.provider('HERE.satelliteDay').addTo(map);
</script>