/* Correct the background position when the textbox handler is not used with the */
/* .leaflet-illustrate-create-textbox class. */
.leaflet-draw-toolbar .leaflet-draw-draw-textbox {
  background-position: -272px -2px;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-textbox {
  background-position: -270px -1px;
}

.leaflet-illustrate-textbox textarea {
  font-family: Junction Light;
  color: white;
  font-size: 48px;
  text-shadow: 1px 2px 20px rgba(0,0,0,0.5);
}
