/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap/dist/css/bootstrap.css
 *= require leaflet/dist/leaflet.css
 *= require leaflet-draw/dist/leaflet.draw.css
 *= require leaflet-illustrate/dist/Leaflet.Illustrate.css
 * 
 *= require style.css
 *= require maps.css
 *= require annotations
 *= require uploads.css 
 */
