
#hero {
    margin-bottom: 0;
  }
  .activities p {
    color: #aaa;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%;
  }
  .lead-text {
    padding: 30px 10px 10px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  }
  .featured-places a {
    padding: 8px 12px;
  }
  .featured-places {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    overflow: hidden;
    position: absolute;
  }
  #anonymous-map button{
    width: 70px;
    background-color: #ffffff;
    border: none;
    margin-right: 0.25rem;
  }
  #anonymous-map  i{
    font-size:20px;
    color:white;
    }
  @media(max-width: 780px) {
    .before-featured-map {
      margin-bottom: 50px;
    }
  }