body {
  padding-top:55px;
}

.login-links {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}

.login-links:visited {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}

.login-links:hover {
  color: rgba(0,0,0,.7);
  text-decoration: underline;
}

.login-links:active {
  color: rgba(0,0,0,.7);
  text-decoration: underline;
}

.login-form {
  width: 200px;
  padding-left: 20px;
}

.navbar-nav .nav-item {
  margin-left: 10px;
}

@media(max-width: 992px) {
  .navbar-nav .navbar-form {
    margin-top: 10px;
  }
}