body {
  padding-top:55px;
  overflow-x: hidden;
}

.login-links {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}

.login-links:visited {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}

.login-links:hover {
  color: rgba(0,0,0,.7);
  text-decoration: underline;
}

.login-links:active {
  color: rgba(0,0,0,.7);
  text-decoration: underline;
}

.login-form {
  width: 200px;
  padding-left: 20px;
}

.navbar-nav .nav-item {
  margin-left: 10px;
}

.navbar-nav:hover .login-form{
  display:block;
  margin-top: 0;
}

#open_id_form button{
  outline: 0;
}

@media(max-width: 992px) {
  .navbar-nav .navbar-form {
    margin-top: 10px;
  }

  .navbar-nav:hover .login-form,
  .navbar-nav:hover .login-form{
  display:block;
  margin-top: 0;
}
}
