html, body {
	width: 100%;
	height: 100%;
}

#knitter-map-pane {
	width: 70%;
	height: 100%;
	float: left;
}

.public-lab-primary button { background-color: #f8e4e4; }

#comments {
	.comment-header {
		background-color: #f2f2f2;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #d4d4d4;
		margin-bottom: 5px;
	}
	.comment-body { margin-bottom: 5px; }	
}

.tab-pane { padding-top: 10px; }

.knitter-side-pane {
	width: 30%;
	height: 100%;
	float: left;
	overflow: hidden;
	font-family: 'Junction Light';
	.sidebar-header { margin-bottom: 0; }
	.sidebar-content { width: 100%; height: 88%; overflow: hidden; }
	.sidebar-only { display: block; }
	.fullscreen-only { display: none; }
	#latlngs {
		width: 100%;
		.form-group {
			width: 47%;
			float: left;
			margin-right: 10px;
			input { width: 80%; }	
		}				
	}
	.map-title h3 { padding: 25px 0; margin: 0; }
	.label {
		margin-left: 2px;
		margin-right: 2px;
		a {
			color: #000;
			font-weight: normal;
		}
	}
	.tab-content {
		height: 70%;
		overflow-y: auto;
	}
	table {
		width: 100%;
		margin-bottom: 5px;
	}
	.sidebar-tabs {
		margin-top: 20px;
		height: 100%;
		overflow-y: auto;
	}
	textarea {
		height: 80px;
		margin-bottom: 15px;
	}
	.map-detail-label {
		color: #999;
	}
}