/*
 *= require jquery-ui/themes/overcast/jquery-ui.min.css
 *= require ion-rangeslider/css/ion.rangeSlider.css
*/ 
/* Variables */
$sidebar-width: 30%;
$sidebar-min-width: 400px;
$sidebar-padding: 15px;

$sidebar-title-height: 100px;
$sidebar-title-padding: $sidebar-padding;

/* Change this to reflect the height of the Bootstrap navbar. */
$bootstrap-navbar-height: 67px;
$sidebar-header-height: $sidebar-title-height;

$subtle-grey: #e5e5e5;

/* Mixins */
@mixin sidebar-padding() {
  padding-left: $sidebar-padding; padding-right: $sidebar-padding;
}

/* Global */
html, body {
  width: 100%;
  height: 100%;
}

.hero a {
  margin-bottom:6px;
}

.map-list .map img {
  overflow: hidden;
  max-height:300px;
}

.map-list .map h3 {
  padding-top: 10px;
  overflow: hidden;
}

.map-list .map {
  clear:none;
  display: inline-block
}

.map-list div:nth-child(4n+1){
  clear:left;
}

code {
  padding: 3px 5px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

/* Map pane */
#knitter-map-pane {
  float: left;

  width: 100% - $sidebar-width;

  /* WARNING: calc does not work in all browsers. */
  max-width: calc(100% - #{$sidebar-min-width});
  height: 100%;
}

#knitter-map-pane.dragover {
  border:10px solid white;
  -moz-opacity: 0.9;
  opacity:.9;
  filter:alpha(opacity=90);
}

#knitter-map-pane.fullscreen {
  width: 100%;
  max-width: none;
}

/* fix for firefox partial image display bug 
 * in css3 matrix distorted images */
.leaflet-image-layer {
  border:0px solid red;
}

.sidebar-toggle-tab {
  position:absolute;
  z-index:99;
  right:0;
  top:50%;
  padding:20px 10px;
  background:white;
  border-radius: 5px 0 0 5px;
  cursor:pointer;
}

/* Sidebar with map details */
.sidebar {
  position: relative;
  float: left;
  height: 100%;
  width: $sidebar-width;
  min-width: $sidebar-min-width;

  h1, h2, h3, h4 { font-family: 'Junction Light'; }

  .dropdown-menu {
    z-index:999;
  }

  .sidebar-wrap { 
    border-left: 1px solid $subtle-grey;
    height: 100%;
  }

  .sidebar-inner-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
  }

  .sidebar-header {
    @include sidebar-padding();
    h4 { margin: 3px 0 6px; }
  }

  .sidebar-content {
    overflow-y: scroll;
    overflow-x: hidden;

    position: absolute;
    top: $sidebar-header-height + 120px + $bootstrap-navbar-height;
    right: 0;
    left: 0;
    bottom: 0;

    padding: $sidebar-padding;
    padding-bottom: 30px;
  }

  .sidebar-buttons {
    padding-left: $sidebar-padding;
    padding-right: $sidebar-padding;
    margin-top: 15px;
  }

  /* Styles for /maps/:id and /maps/:id/edit */
  .sidebar-tabs {
    padding-left: $sidebar-padding;
    padding-right: 0px;
  }

  /* Styles for /maps/new */
  .new-map .sidebar-content {
    border-top: 1px solid $subtle-grey;
    top: $sidebar-header-height - 80px + $bootstrap-navbar-height;
  }

  /* Ensure that horizontal nav elements are hidden in the sidebar (not enough room). */
  .sidebar-only { display: block; }
  .fullscreen-only { display: none; }

  /* Visual styles */
  .map-title-examples { list-style-type: none; }

  #latlngs {
    width: 100%;
    .form-group {
      width: 47%;
      float: left;
      margin-right: 10px;
      input { width: 80%; }  
    }        
  }
  .label {
    margin-left: 2px;
    margin-right: 2px;
    a {
      color: white;
    }
  }
  table {
    width: 100%;
    margin-bottom: 5px;
  }
  .sidebar-tabs {
    margin-top: 20px;
    height: 100%;
    overflow-y: auto;
  }
  textarea {
    height: 80px;
    margin-bottom: 15px;
  }
  .map-detail-label {
    color: #999;
  }
  table .col-middle {
    max-width:200px;
  }
}

table .btn {
  margin-bottom:3px;
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
    min-width: 100%;
    overflow: scroll;
  }
  table .col-middle {
    max-width:120px;
  }
}

/* 
 * Override Bootstrap styles for when the nav is contained in the sidebar. 
 * This is to ensure that the navbar maintains a fixed height,
 * regardless of screen size, so that the top offset for .sidebar-wrap doesn't change.
 */
.sidebar-navbar-nav {
  float: left;
  margin: 0;

  > li {
    float: left;
    > a {
      padding-top:    15px;
      padding-bottom: 15px;
    }
  }
}

.sidebar-navbar-right {
  float: right;
}

#comments {
  .comment-header {
    font-size:13px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #eee;
    margin-top: 5px;
    margin-bottom: 8px;
  }
  .comment-body {
    padding-left:4px;
  }
  .btn-sm {
    margin-left:3px;
  }
}
  
.tab-pane { padding-top: 10px; }

.public-lab-primary button { background-color: #f8e4e4; }

/* autocomplete styling for jquery-ui widget */
.ui-autocomplete {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  background-color: white;
  background-image: none; 
  width:300px;
  position:absolute;
  list-style-type: none;
  margin-left: -6px;
  padding-left: 0;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border:none;
}
.ui-autocomplete .ui-menu-item {
  padding:6px 12px;

}
.ui-menu-item.ui-state-focus {
  background:#ddd;
  border:none;
  background-image: none; 
  color: #666;
  font-weight:normal;
}

.fa-green {
  color:green;
}
.fa-red {
  color:red;
}
