.grid-list {
  margin-left: 25px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 30px;
  color: #5cb85c;
  cursor: pointer;
  font-size: 18px;
}
.grid-list a{
  border: 1px solid #e1e4e8;
  padding: 5px;
}
.image-order{
	display: inline-block;
	float: right;
	margin-right: 15px;
	margin-bottom: 10px;
  position: relative;
}
.sidebar-heading{
	display: inline-block;
}
.sort-by-text{
  display: inline-block;
  color: #5cb85c;
}
.sort-label{
  display: inline-block;
  padding: 5px;
  border: 1px solid #e1e4e8;
  height: 38px;
}
.image-order-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}
.image-order-content a {
  color: black;
  padding: 7px 10px;
  border: 1px solid #e1e4e8;
  text-decoration: none;
  display: block;
  background-color: white;
  text-decoration: none;
  color: black;
}

.dropdown ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.dropdown li{
  border-bottom: 1px solid #e1e4e8 !important;
  padding: 5px;
}
.dropdown-menu{
  position: absolute;
  max-height: 200px;
  overflow-y: scroll;
}