/* 
Junction is provided under the OFL and is available at http://www.theleagueofmoveabletype.com/junction or https://github.com/theleagueof/junction 
It was originally created by Caroline Hadilaksono: http://www.hadilaksono.com
*/

@font-face {
  font-family: 'Junction Regular';
  src: url('junction/webfonts/junction-regular.eot');
  src: url('junction/webfonts/junction-regular.eot?#iefix') format('embedded-opentype'),
        url('junction/webfonts/junction-regular.woff') format('woff'),
        url('junction/webfonts/junction-regular.ttf') format('truetype'),
        url('junction/webfonts/junction-regular.svg#junction') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Junction Light';
  src: url('junction/webfonts/junction-light.eot');
  src: url('junction/webfonts/junction-light.eot?#iefix') format('embedded-opentype'),
        url('junction/webfonts/junction-light.woff') format('woff'),
        url('junction/webfonts/junction-light.ttf') format('truetype'),
        url('junction/webfonts/junction-light.svg#junction') format('svg');
  font-weight: normal;
  font-style: normal;
}

#hero {
  background-image: url('image.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-block {
  margin-bottom: 5px;
  padding-top:30px;
  padding-bottom:50px;
  background-color: white;
  display: inline-block;
  .btn {
      width: 45%;
      font-size: 1em;
  }
  .btn.btn-default {
    width: auto;
  }
}

.jumbotron {
  margin-bottom: 1rem;
}

.jumbotron-text {
  text-shadow: 1px 1px 2px #080707;
}

.map-list .map-img {
  max-height: 400px !important;
}

.map-list div:nth-child(4n+1){
  clear: left;
}

.map-location {
  color: rgb(118, 118, 118);
  overflow-wrap: break-word;
  height: 16px;
  max-height: 16px;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.map-title {
  margin: 0px;
  overflow-wrap: break-word;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4em;
  color: rgb(72, 72, 72);
}

.map-details {
  display: block;
  text-decoration: none;
  margin: 0px;
  overflow-wrap: break-word;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
}

.alert-link {
  text-shadow: none;
}

.card-without-border {
  border: none;
}

/* Application-wide styles */
h1, h2, h3, h4 {
  font-family: 'Junction Light', lucida grande,lucida sans console,sans-serif;
  font-weight:normal;
  color:#444;
}

a {
  outline: 0;
}

label small {
  font-weight:normal;
  color:#888;
}

.container-fluid .row img {
  width: 100%;
  padding-bottom: 20px;
}

.link-thumbnail {
  position: relative;
  width: 100%;
}

.links {
  .btn {
    margin-bottom: 20px;
  }
  a .title {
    font-family: 'Junction Regular';
    color: #000;
    position: absolute;
    bottom: 19px;
    background-color: rgba(256, 256, 256, 0.8);
    width: 100%;
    height: 30px;
    text-align: right;
    padding: 5px;
    font-size: 1.15em;
  }
}

.cta-buttons {
  .btn {
    margin-top: 0.25rem;
  }
}

.footer {
  margin: 10px auto;
  padding: 30px 60px 40px;
  border-top: 1px solid #ddd;
  background:#f6f9fc;
}

.footer .footer-link {
  color: #8898aa;
}
.footer-links {
  text-align: left;
}
.footer .footer-link:hover {
  text-decoration: none;
  color: #32325d;
}

.footer .footer-title {
  font-weight: 600;
  font-weight: bolder;
  letter-spacing: .025em;
  font-size: 14px;

  text-transform: uppercase;
}
.fab {
  color: #464159;
  font-size:35px;
  padding: 4px;
}
.fab:hover {
  text-decoration: none;
  color: #272343;
  transition: color 1.5s
}
.social {
  text-align: right;
}
.mapping-kits {
  border: none;
}

.img-draw {
  width: 100px;
}

.img-icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ddd; 
}

.btn.create-map {
  width: 100%;
}

.maps-list {
  h2 { margin-top: 0; }
}

.sidebar-only {
  display: none;
}

#near_maps {
  img {
    height: 300px;
    width: 400px;
  }
}

.login-form {
  width: 200px;
  padding: 10px;
  label {
    margin-top: 5px;
    font-weight: normal;
  }
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.how-to-item {
  margin-right: -10px;
  margin-left: -10px;
}

.section-header {
  margin: 30px 0;
}

.learn-more {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: -0.2px;
}

.item-description {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  color: #a2aaad;
}

.all-maps {
  img {
    display: block;
    width: 200px;
    height: 200px;
  }
}

.light-blue {
    background-color: #d0e2f2;
}

#about-text {
  width: 70%;
  margin: auto;
}
#about-img {
  margin: 20px auto;
}
#count-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  img {
    width: 200px;
    height: 200px
  }
  figure {
    text-align: center;
  }
}

.appear {
  animation: appearance 2.5s;
}
@keyframes appearance {
  from {opacity: 0}
  to {opacity: 1}
}
@media screen and (max-width: 400px) {
  #about-text {
    width: 100%;
  }
  #count-container {
    flex-direction: column;
  }
  .social, .footer-links {
    text-align: center;
  }
  .footer {
    width: 100%
  }
}
