<div class="box" id='authors'>
<h3>Authors</h3>

<ul>
<% authors = Map.authors %>
<% for author in authors %>
  <li><a href="/author/<%= author %>"><%= author %></a></li>
<% end %>
</ul>

<p><%= authors.length %> authors </p>

</div>
