<div class="box" id='authors'>
<h3>Authors</h3>

<ul>
<% for author in Map.authors(12) %>
  <li><a href="/profile/<%= author %>"><%= author %></a></li>
<% end %>
</ul>

<p><%= authors.length %> authors </p>

</div>
