<div class="box" id='search'>
<form action="/map/search" method='get' class="form-inline">
  <input placeholder="search maps" class='text' type='text' name='q' value='<%= params[:id] %>'/>
  <input class="btn" type='submit' value='Search' />
</form>
<p>
<a href="/map/license/publicdomain">Public domain maps</a> | 
<a href="/map/license/cc-by">Open source maps</a> 
</p>
</div>
