<div class="box" id='search'>
<h3>Search for a map</h3>
<form action="/map/search" method='get'>
	<input class='text' type='text' name='q' value='<%= params[:id] %>'/>
	<input type='submit' value='search' />
</form>
<p>
<a href="/maps/license/publicdomain">Public domain maps</a> | 
<a href="/maps/license/cc-by">Open source maps</a> 
</p>
</div>
