<div id="main">
	<div class='left'>
		<p>Use Cartagen Knitter to upload your own aerial imagery and 'knit' a map. Everything you create with this tool is owned by you; read more at <a href="http://grassrootsmapping.org">GrassrootsMapping.org</a>.</p>
		<p>Watch a short video demo of how to use this tool:</p>
		<p><object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=10213658&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=10213658&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object></p>
		<p><a href="http://vimeo.com/10213658">Cartagen warping tool demo</a> from <a href="http://vimeo.com/user263756">Jeffrey Warren</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
	</div>
	<h1>Maps</h1>
	<%= render :partial => 'map/list' %>
</div>
<div id="sidebar">
<%= render :partial => "map/new" %>
</div>
