<h1>Map layers</h1>

<p>To properly stitch your aerial imagery together, it can be useful to have a background map for reference. Choose from these sources of satellite imagery (the page will refresh when you change reference layer):</p>

<p><a href="javascript:void(0);" onClick="Knitter.start_openlayers('osm');Modalbox.hide();location.reload()">OpenStreetMap layer</a> (<a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC-BY-SA</a>)</p>
<p><a href="javascript:void(0);" onClick="Knitter.start_openlayers('mapbox');Modalbox.hide();location.reload()">MapBox (OpenStreetMap) layer</a> (<a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC-BY-SA</a>)</p>
<p><a href="javascript:void(0);" onClick="Knitter.start_openlayers('bing');Modalbox.hide();location.reload()">Bing Maps layer</a></p>
<p><a href="javascript:void(0);" onClick="Knitter.start_openlayers('google');Modalbox.hide();location.reload()">Google Maps layer</a></p>
<!--<p><a href="javascript:void(0);" onClick="Knitter.start_openlayers('TMS',prompt('Enter a TMS URI','http://maps.grassrootsmapping.org/chandeleur-may-9-balloon/'));Modalbox.hide();location.reload()">TMS layer</a> (enter a URL) (experimental)</p>-->
<p><a href="javascript:void(0);" onClick="Knitter.start_openlayers('TMS',prompt('Enter a TMS URI','http://hypercube.telascience.org/tilecache/tilecache.py/1.0.0/NewWorld_google/'));Modalbox.hide();location.reload()">TMS layer</a> (enter a URL) (experimental)</p>
<p><a href="javascript:void(0);" onClick="Knitter.start_openlayers('TMS',prompt('Enter a TMS URI','http://hypercube.telascience.org/tilecache/tilecache.py/1.0.0/NAIP_ALL/'));Modalbox.hide();location.reload()">TMS layer</a> (enter a URL) (experimental)</p>
<!--<p><a href="javascript:void(0);" onClick="Knitter.start_openlayers('WMS',prompt('Enter a WMS URI','http://isse.cr.usgs.gov/arcgis/services/Combined/SDDS_Imagery/MapServer/WMSServer?SERVICE=WMS&VERSION=1.1.1&STYLES=&SRS=EPSG:4326&FORMAT=image/png&layers=0&request=map&'),prompt('Enter a WMS layer','0'));Modalbox.hide();location.reload()">WMS layer</a> (enter a URL) (experimental)</p>-->

<script>
// http://hypercube.telascience.org/tilecache/tilecache.py/1.0.0/NAIP_ALL/
// blends between bmng/landsat/naip based on zoom level:
// http://hypercube.telascience.org/tilecache/tilecache.py/1.0.0/NewWorld_google
</script>

<p><a href="javascript:void(0);" onClick="Knitter.start_openlayers('none');Modalbox.hide();location.reload()">no tile background layer</a></p>

<a href="javascript:void(0);" onClick="Modalbox.hide();" >cancel</a>
