<h1>Map layers</h1>

<p>To properly stitch your aerial imagery together, it can be useful to have a background map for reference. Choose from these sources of satellite imagery:</p>

<p><a href="javascript:void(0);" onClick="start_openlayers('google');Modalbox.hide();">Google Maps layer</a></p>
<p><a href="javascript:void(0);" onClick="start_openlayers('TMS');Modalbox.hide();">TMS layer (enter a URL)</a></p>
<p><a href="javascript:void(0);" onClick="start_openlayers('WMS');Modalbox.hide();">WMS layer (enter a URL)</a></p>

<a href="javascript:void(0);" onClick="Modalbox.hide();" >cancel</a>
