<div id="main">
	<h2>Maps in "<%= params[:id] %>"</h2>	
	
	<%= render :partial => 'map/list' %>
	
</div>
<div id ="sidebar">
<%= render :partial => 'map/search' %>
<%= render :partial => 'map/new' %>
</div>
