<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title">Upload Images</h4>
        <label for="warpable">Drag images or click to choose a file from your computer (10mb max):</label>
      </div>
      <div class="modal-body">
        <div>
          <%= form_for [@map, Warpable.new], :html => { :multipart => true, :id => "fileupload" } do |f| %>
            <input id="warpable_map_id" name="map_id" type="hidden" value="<%= @map_id %>" />

            <div class="row">
              <div class="col-lg-8">
                <span class="btn btn-success btn-file">
                  <i class="fa fa-plus-circle"></i> Select images <input id="warpable_uploaded_data" name="warpable[uploaded_data]" type="file" accept="image/*" />
                </span>
              </div>
            </div><!-- .row -->

            <div id="uploaded-images-list" style="padding-top:10px;z-index:5;overflow:auto;">
              <!-- The loading indicator is shown during image processing -->
              <div class="fileupload-loading"></div><br>

              <!-- The table listing the files available for upload/download -->
              <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
            </div>
          <% end %><!-- #fileupload -->

          <script id="template-upload" type="text/x-tmpl">
          {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-upload fade">
              <td class="preview"><span class="fade"></span></td>
              <td class="name"><span>{%=file.name%}</span></td>
              <td class="status"><i class="fa fa-spinner fa-spin"></i> Uploading... </td>
              <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
              {% if (file.error) { %}
              <td class="error" colspan="2"><span class="label label-important">
                {%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}
              </td>   
              {% } else if (o.files.valid && !i) { %}
              <td>
              </td>
              <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                <span>{%=locale.fileupload.start%}</span>
                </button>
                {% } %}</td>
              {% } else { %}
              <td colspan="2"></td>
              {% } %}
              <td class="cancel">{% if (!i) { %}
                <button class="btn btn-warning">
                <span>{%=locale.fileupload.cancel%}</span>
                </button>
                {% } %}
              </td>
            </tr>
          {% } %}
          </script>

          <!-- The template to display files available for download -->
          <script id="template-download" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
              <tr class="template-download fade" id="warpable-{%= file.id %}">
                {% if (file.error) { %}
                  <td></td>
                  <td class="name"><span>{%=file.name%}</span></td>
                  <td class="size"><i class="fa fa-spinner fa-spin"></i> <span>{%=o.formatFileSize(file.size)%}</span></td>
                  <td class="error" colspan="2"><span class="label label-important">
                      {%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}
                  </td>
                {% } else { %}
                  <td class="preview">
                    {% if (file.thumbnail_url) { %}
                      <img id="warpable-img-preview-{%= file.id %}" src="{%=file.thumbnail_url%}">
                    {% } %}
                  </td>
                  <td class="name">
                  </td>
                  <td class="status">
                      Image uploaded.
                        <p>
                          <a onClick="window.mapKnitter.addImage('{%= file.url %}',{%= file.id %});$('.add-image-{%= file.id %}').hide();$('#uploadModal').modal('hide')" class="btn btn-xs btn-default add-image-{%= file.id %}">Place</a>
                          <a class="btn btn-xs btn-default add-image-gps-{%= file.id %}" style="display:none;">Auto-place with GPS</a>
                          <a rel="tooltip" title="Download full resolution distorted image (please allow popups)" class="btn btn-xs btn-default img-download-{%= file.id %}" data-image="/images/fetch/?url={%= file.original_url %}"><i class="fa fa-download"></i></a> 
                          <div class="full-image-container-{%= file.id %}" style="overflow:hidden;width:0;height:0;"><img id="full-img-{%= file.id %}" /></div>
                        <a target="_blank" href="http://publiclab.org/wiki/mapknitter#GPS+Placement">Learn more</a>
                      </p>
                      {%= file.name %}
                      <script>
                        $('#warpable-{%= file.id %} [rel=tooltip]').tooltip();
                        $("#warpable-img-preview-"+{%= file.id %}).on('load', function() {
                          window.mapKnitter.geocodeImageFromId("#warpable-img-preview-"+{%= file.id %},{%= file.id %},'{%= file.url %}'); 
                        })
                    {%# "</sc"+"ript>" %}
                  </td>
                  <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                {% } %}
              </tr>
            {% } %}

          </script>

        </div>
      </div>
      <div class="modal-footer">
        <center>
        <button class="btn btn-primary" type="button" class="close" data-dismiss="modal" aria-hidden="true">
          Continue
        </button> to place the images on the map
        </center>
        <hr />
        Where can you get images to upload?<br />Take them from an airplane window, or read about <a href="http://publiclab.org/wiki/balloon-mapping">Grassroots Mapping with Balloons and Kites</a>.
      </div>
    </div>
  </div>
</div>
