<footer class="footer text-center">
  <div class="row">
    <div class="col-md-6">
      <h3 class="footer-title">MapKnitter</h3>
      <ul class="list-unstyled">
        <li>
          <a class="footer-link" href="/about">About us</a>
        </li>
        <li> 
          <a class="footer-link" href="//publiclab.org/wiki/developers" target="_blank">Public Lab developers discussion list</a>
        </li>
        <li>
          <a class="footer-link" href="http://github.com/publiclab/mapknitter/issues" target="_blank">Help & Questions</a>
        </li>
        <li> 
          <a class="footer-link" href="//publiclab.org/" target="_blank">Public Lab</a>
        </li>
        <li>
          <a class="footer-link" href="https://publiclab.org/wiki/open-call" target="_blank">Open Call</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4 class="footer-title">Follow us</h4>
      <div class="rounded-social-buttons">
        <a class="social-button facebook" href="https://www.facebook.com/PublicLab" target="_blank"></a>
        <a class="social-button twitter" href="https://twitter.com/publiclab" target="_blank"></a>
        <a class="social-button youtube" href="https://www.youtube.com/c/publiclab" target="_blank"></a>
        <a class="social-button instagram" href="https://instagram.com/publiclab" target="_blank"></a>
      </div>
    </div>
  </div>
</footer>
