<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MapKnitter</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <form action="/search" method='get' class="navbar-form navbar-left" id="nav_search_form">
        <div class="input-group">
          <input class="form-control mr-sm-2" style="min-width: 280px;" type="text" id="search-input" name="q" value='<%= params[:id] if params[:action] == "search" %>' placeholder="Search maps"/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav">
        <li><a href="//publiclab.org/wiki/mapknitter" target="_blank">Getting Started</a></li>
        <li><a href="//publiclab.org/wiki/balloon-mapping" target="_blank">Balloon Mapping</a></li>
        <li><a href="//store.publiclab.org/products/balloon-mapping-kit" target="_blank">Aerial Mapping Kits</a></li>
        <li><a href="//publiclab.org/lists" target="_blank">Mailing Lists</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= render :partial => "layouts/login" %>
      </ul>
    </div>
  </div>
</nav>