<div id="header" class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner hidden-print" style="padding:0 10px;">
        <a class="navbar-brand" id="brand" href="/"><strong>MapKnitter</strong> by Public Lab</a>
        <a class="navbar-brand" id="brand-compact" href="/">MK</a>

        <ul class="nav navbar-nav">
            <li><a href="//publiclab.org/wiki/mapknitter">Introduction</a></li>
            <li><a href="//publiclab.org/wiki/balloon-mapping">About Balloon Mapping</a></li>
            <li><a href="//publiclab.org/wiki/mapknitter-help">FAQ</a></li>
            <li><a href="//publiclab.org/wiki/public-lab-cartography-collective">Cartography Collective</a></li>           
        </ul>

        <ul class="nav navbar-nav navbar-right ">
            <li> 
            <% if logged_in? %>
                <a href="//publiclab.org/profile/<%= @map.author %>"><span class="glyphicon glyphicon-user"></span> <%= current_user.name %></a>
            <% else %>
                <a href="//publiclab.org/login"><span class="glyphicon glyphicon-user"></span> Log In</a>
            <% end %>
            </li> 
        </ul>
    </div><!-- .navbar-inner -->
</div><!-- #header -->