<% if logged_in? %>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="logout-menu" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user"></i> <%= current_user.login %>
    </a>
    <div class="dropdown-menu login-form" aria-labelled-by="logout-menu">
      <a href="//publiclab.org/profile/<%= current_user.login %>" class="dropdown-item">Profile</a>
      <a href="/logout" class="dropdown-item">Log out</a>
      <% if current_user.role == 'admin' %>
        <a href="#">Role: <b>Admin</b></a>
      <% end %>
    </div>
  </li>
<% else %>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown login-form" data-toggle="modal" data-target="#loginModal">Log In</a>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Log In</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render :partial => "layouts/login_form" %>
          </div>
        </div>
      </div>
    </div>
  </li>
<% end %>
<script>
$(function(){
  $("#loginModal").appendTo("body");
});
</script>
