<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>MapKnitter: <%= @map[:name] %></title>
  <meta name="description" content="<%= @map.description.gsub('"',"'") if @map.description %>" />
  <link rel="stylesheet" href="/lib/cartagen/style.css"/>
  <link rel="stylesheet" href="/knitter.css"/>
  <link rel="stylesheet" href="/lib/modalbox/modalbox.css"/>
  <!--[if IE]><script src="/lib/cartagen/lib/excanvas.js"></script><![endif]-->
  <script type="text/javascript">
    cartagen_base_uri = '/lib/cartagen'
  </script>
  <script src='http://www.google.com/recaptcha/api/js/recaptcha_ajax.js'></script>
  <script src="/lib/cartagen/cartagen.js"></script>
  <script src="/javascripts/knitter.js"></script>
  <script src="/lib/scriptaculous/src/scriptaculous.js"></script>
  <script src="/lib/modalbox/modalbox.js"></script>
  <script src="/lib/sparklines/source/sparkline.js"></script>
  <script src="/lib/openlayers/lib/OpenLayers.js"></script>
  <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= yield %>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-180781-29");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>
