<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>PLOTS Map Knitter</title>
		<script src="/javascripts/jquery.min.js" type="text/javascript"></script> 
		<script type="text/javascript" src="/javascripts/jquery-autocomplete/jquery.autocomplete.js"></script> 
		<script type="text/javascript" src="/javascripts/jquery-autocomplete/lib/jquery.ajaxQueue.js"></script> 
		<link href="/javascripts/jquery-autocomplete/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" /> 
		<script type="text/javascript" src="/javascripts/jquery.sparkline.min.js"></script>
		<link href="/style.css" type="text/css" media="all" rel="stylesheet" /> 
	</head>
	<body>
	<div id="bodywrap">
	<div id="header">
		<div class="right">
			<a href="http://publiclaboratory.org/wiki/mapknitter">Intro</a> |
			<a href="http://publiclaboratory.org/tool/balloon-mapping">Get images</a> |
			<a href="http://publiclaboratory.org/wiki/mapknitter-help">Help</a> |
			<a href="http://publiclaboratory.org/archive">Map Archive</a>
		</div>
		<a href="/" style="float:left;"><img src="/images/mapknitter-masked.png" /></a>
	<br style="clear:both;" />
	</div>

	<% if flash[:notice] %>
	<div class="flash notice">
		<%= flash[:notice] %>	
	</div>
	<% end %>
	<% if flash[:error] %>
	<div class="flash error">
		<%= flash[:error] %>	
	</div>
	<% end %>

		<%= yield %>

	<br style="clear:both;" />

	</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7636025-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
