<div class="card mb-3 align-middle">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="<%= asset_path('image.png') %>" class="card-img" alt="Aerial mapping tools">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">MapKnitter</h5>
        <p class="card-text">MapKnitter is a free and open source software created and run by <a href="//publiclab.org/" class="alert-link">Public Lab</a></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>