<!-- jumbotron with background-image -->
<div class="jumbotron jumbotron-fluid text-center" id="hero">
  <div class="container">
    <h1 class="display-4 jumbotron-text">MapKnitter</h1>
    <p class="lead jumbotron-text">Use a kite, balloon, pole, or drone to take an aerial photo and tell your own visual story of the place. <a href="/about" class="alert-link">Learn more</a></p>
    <p class="lead">
      <a class="btn btn-info btn-lg" href="#" role="button">Add your images</a>
      <a class="btn btn-info btn-lg" href="#" role="button">Get a mapping kit</a>
    </p>
  </div>
</div>

<!-- trending places -->
<div class="card text-center card-without-border">
  <div class="card-body">
    <h5 class="card-title">MapKnitter is a free and open source software created and run by Public Lab</h5>
    <h6 class="card-subtitle mb-2 text-muted">Here are the cities trending right now</h6>
    <a href="#" class="alert-link">Add your own images</a>
  </div>
</div>

<!-- featured maps -->
<!-- <div class="card-deck mt-2">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div> -->