<!-- jumbotron with background-image -->
<div class="jumbotron jumbotron-fluid text-center" id="hero">
  <div class="container">
    <h1 class="display-4 jumbotron-text">MapKnitter</h1>
    <p class="lead jumbotron-text">Use a kite, balloon, pole, or drone to take an aerial photo and tell your own visual story of the place. <a href="/about" class="alert-link">Learn more</a></p>
    <p class="lead">
      <a class="btn btn-info btn-lg" href="#" role="button">Add your images</a>
      <a class="btn btn-info btn-lg" href="#" role="button">Get a mapping kit</a>
    </p>
  </div>
</div>

<!-- trending places -->
<div class="card text-center card-without-border mb-3">
  <div class="card-body">
    <h5 class="card-title">MapKnitter is a free and open source software created and run by Public Lab</h5>
    <h6 class="card-subtitle mb-2 text-muted">Here are the cities trending right now</h6>
    <a href="#" class="alert-link">Add your own images</a>
  </div>
</div>

</br>

<!-- mapping kites -->
<div class="card-deck mt-3 text-center mx-auto">
  <div class="card mapping-kits">
    <img class="card-img-top img-icon mx-auto" src="<%= asset_path('balloon.png') %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Balloon mapping</h5>
      <p class="card-text text-muted">Reliable, ~1000-3000 ft high and great for groups and workshops.</p>
      <a href="#" class="btn btn-outline-info">Get a kit</a>
    </div>
  </div>
  <div class="card mapping-kits">
    <img class="card-img-top img-icon mx-auto" src="<%= asset_path('kite.png') %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Kite mapping</h5>
      <p class="card-text text-muted">Cheap, ~500-1500 ft high and very portable, great for kids.</p>
      <a href="#" class="btn btn-outline-info">Get a kit</a>
    </div>
  </div>
  <div class="card mapping-kits">
    <img class="card-img-top img-icon mx-auto" src="<%= asset_path('selfie-stick.png') %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pole mapping</h5>
      <p class="card-text text-muted">Cheap, ~10-40 ft high, good for gardens + yards, versatile.</p>
      <a href="#" class="btn btn-outline-info">Get a kit</a>
    </div>
  </div>
  <div class="card mapping-kits">
    <img class="card-img-top img-icon mx-auto" src="<%= asset_path('drone.png') %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Drone mapping</h5>
      <p class="card-text text-muted">Getting cheaper, ~500-1500 ft high,  navigable and stable, versatile.</p>
      <a href="#" class="btn btn-outline-info">Get a kit</a>
    </div>
  </div>
</div>
