<% if @nearby_maps.any? %>
  <div class="section-header text-center mt-4">
    <h2 class="section-title">Mappers near you</h2>
    <%= render :partial => 'featured_mappers', :locals => { :mappers => @nearby_maps  } %>
  </div>
  <hr>
<% end %>

<div class="section-header text-center mt-4">
  <h2 class="section-title">Featured Mappers</h2>
</div>
<%= render :partial => 'featured_mappers', :locals => { :mappers => @all_mappers } %>